.join-form {
    position: relative;
    em {
        font-style: normal;
        color: #fff;
    }
    &__inner-text {
        display: inline;
        & > div {
            display: inline;
        }
    }
    &__error {
        justify-content: center;
        display: flex;
        width: 100%;
        margin: 20px auto;
        opacity: 0;
        &-item {
            margin: 0 8px;
            font-family: Light;
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 120%;
            // font-feature-settings: "pnum" on,"lnum" on;
            color: #ff4949;
            text-transform: none;
            transition: opacity .5s;
            pointer-events: none;
        }
        &.active {
            opacity: 1;
        }
    }
}
@media (max-width: 500px) {
    .join-form {
        &__error {
            flex-direction: column;
            align-items: center;
            &-item {
                margin: 2px 0;
            }
        }
    }
}