@keyframes fadeLoader {
    33.333%,
    99.999% {
        opacity: 0;
    }
    0%,
    100% {
        opacity: 0.3;
    }
}

@keyframes moveLoader {
    0% { 
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    12.5% { 
        transform: rotate(45deg);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    25% { 
        transform: rotate(90deg);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    37.5% { 
        transform: rotate(135deg);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    50% { 
        transform: rotate(180deg);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    62.5% { 
        transform: rotate(225deg);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    75% { 
        transform: rotate(270deg);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    87.5% { 
        transform: rotate(315deg);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    100% { 
        transform: rotate(360deg);
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
}

.loader {
    display: block;
    width: 64px;
    height: 64px;
    transform: rotate(-90deg);
    &__circle {
        transform-origin: 50% 50%;
        animation: fadeLoader 2s linear infinite;
        &:nth-child(1) {
            transform: none;
            animation-delay: -2s;
        }
        &:nth-child(2) {
            transform: rotate(45deg);
            animation-delay: -1.75s;
        }
        &:nth-child(3) {
            transform: rotate(90deg);
            animation-delay: -1.5s;
        }
        &:nth-child(4) {
            transform: rotate(135deg);
            animation-delay: -1.25s;
        }
        &:nth-child(5) {
            transform: rotate(180deg);
            animation-delay: -1s;
        }
        &:nth-child(6) {
            transform: rotate(225deg);
            animation-delay: -0.75s;
        }
        &:nth-child(7) {
            transform: rotate(270deg);
            animation-delay: -0.5s;
        }
        &:nth-child(8) {
            transform: rotate(315deg);
            animation-delay: -0.25s;
        }
    }
    &__moving-circle {
        animation: moveLoader 2s linear infinite;
        transform-origin: 50% 50%;
    }
}