@font-face {
    font-family: Light;
    src: url(~assets/fonts/HelveticaNeue-Light.woff) format("woff")
}

@font-face {
    font-family: LightItalic;
    src: url(~assets/fonts/HelveticaNeue-LightItalic.woff) format("woff")
}

@font-face {
    font-family: ThinItalic;
    src: url(~assets/fonts/HelveticaNeue-ThinItalic.woff) format("woff")
}

@font-face {
    font-family: Roman;
    src: url(~assets/fonts/HelveticaNeue.woff) format("woff")
}